@page "/home"
@inject AppState AppState

<h3>Home</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        AppState.setSelectedMenuItem(AppConstants.MeniItems.Home);
    }
}
