@page "/profile"
@inject AppState AppState
<h3>Profile</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        AppState.setSelectedMenuItem(AppConstants.MeniItems.Profile);
    }
}
