@inherits LayoutComponentBase

<div class="vh-100 100-vw p-3 d-flex flex-column justify-content-center align-items-center">

    <div class="">
        <img class="mx-auto logo" src="/images/logo.png" alt="logo" />
    </div>
    <div class="my-3">
        @Body
    </div>
</div>

<style type="text/css" scoped>

    .logo {
        height: 100px;
        width: 200px;
        margin-bottom: 20px;
    }

    .mybtn {
        margin-top: 20px;
        background-color:#FF7205 !important;
        outline-color: #FF7205 !important;
        border-color: #FF7205 !important;
      
    }
</style>