
.top-navbar 
{
    height: var(--navbar-height);
    z-index:10;
}
.body-content {
    padding-top: var(--navbar-height);
}
.bottom-tabbar {
    bottom: 5px;
    z-index: 10;
    background-color:#FF7205 !important;
}
.light-white {
    color:#d8d8d8 !important;
}